<div id="<%= dom_id employee %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= employee.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Employee template</p>
    <%= employee.employee_template_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">First name</p>
    <%= employee.first_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Last name</p>
    <%= employee.last_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start date</p>
    <%= employee.start_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Final date</p>
    <%= employee.final_date %>
  </div>
</div>
