<div id="<%= dom_id employee %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= employee.first_name + " " + employee.last_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Title</p>
    <%= employee.title %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start date</p>
    <%= employee.start_date %>
  </div>

  <div class="flex flex-col">
    <% employee.template_attributes.each_pair do |k, v| %>
      <div>
        <strong><%= k %></strong>: <%= v %>
      </div>
    <% end %>
  </div>
</div>
