<div id="<%= dom_id employee %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= employee.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Position</p>
    <%= employee.position %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start date</p>
    <%= employee.start_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Driver</p>
    <%= employee.driver %>
  </div>
</div>
