<%= form_for(employee) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="grid grid-cols-2 gap-4" data-controller="dynamic-form" data-dynamic-form-param-value="id" data-dynamic-form-url-value="/employee_templates/form_fields">
    <div class="col-span-2 border-b border-gray-200">
      <div class="pb-5">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Employee Details</h3>
        <p class="max-w-2xl mt-1 text-sm text-gray-500">Personal details and custom attributes.</p>
      </div>
    </div>

    <div class="col-span-2">
      <%= form.label :employee_template_id, "Role" %>
      <%= form.collection_select :employee_template_id, EmployeeTemplate.all, :id, :title, { prompt: true }, { class: "mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm", data: { action: "change->dynamic-form#change" }} %>
    </div>

    <div class="col-span-2">
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="col-span-1">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="col-span-1">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>

    <div class="col-span-1">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>

    <div class="col-span-1">
      <%= form.label :final_date %>
      <%= form.date_field :final_date, class: "form-control" %>
    </div>

    <div class="col-span-2 border-b border-gray-200">
      <div class="py-5">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Role Information</h3>
        <p class="max-w-2xl mt-1 text-sm text-gray-500">Information specific to this employees role.</p>
      </div>
    </div>

    <div data-dynamic-form-target="response" class="grid grid-cols-2 col-span-2 gap-4">
      <%= form.fields_for :attribute_answers do |aa_form| %>
        <div class="col-span-1">
          <%- if aa_form.object.new_record? %>
            <%= aa_form.hidden_field :employee_attribute_id, value: aa_form.object.employee_attribute_id %>
          <% end %>
          <%= aa_form.label :answer, aa_form.object.employee_attribute.name %>
          <%= aa_form.text_field :answer, class: "form-control" %>
        </div>
      <% end %>
    </div>

    <div class="col-span-2">
      <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

      <% if form.object.new_record? %>
        <%= link_to t("cancel"), employees_path, class: "btn btn-white" %>
      <% else %>
        <%= link_to t("cancel"), employee_path(@employee), class: "btn btn-white" %>
      <% end %>
    </div>
  </div>
<% end %>
