<%= form_with(model: employee) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
    <div>
      <%= form.collection_select(:employee_template, EmployeeTemplate.all, :id, :title) %>
    </div>

    <div class="form-group w-full flex flex-row space-around">
      <div class="w-1/4">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>
      <div class="w-1/4">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>

    <div>
      <%= form.button button_text("Next"), class: "btn btn-primary" %>

      <% if form.object.new_record? %>
        <%= link_to t("cancel"), employees_path, class: "btn btn-white" %>
      <% else %>
        <%= link_to t("cancel"), employee_path(@employee), class: "btn btn-white" %>
      <% end %>
    </div>
  </div>
<% end %>
