<%= content_for :title, "Employees" %>
<%= turbo_stream_from :employees %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Employees</h1>
      <%= render "employee_sorting_links" %>
    </div>
    <div>
      <% if params.dig(:q, :active).present? %>
        <%= link_to "Show all employees", employees_path, class: "font-semibold" %>
      <% else %>
        <%= link_to "Show active employees", url_for(q: {active: true}), class: "font-semibold" %>
      <% end %>
    </div>
    <div>
      <%= link_to t("shared.scaffold.new.title", model: "Employee Template"), new_employee_template_path, class: "btn btn-white" %>
      <%= link_to t("shared.scaffold.new.title", model: "Employee"), new_employee_path, id: "new-employee-button", class: "btn btn-white" %>
    </div>
  </div>

  <%= tag.div id: ("employees" if first_page?), class: "bg-white rounded-md shadow space-y-8" do %>
    <% if @employees.present? %>
      <div class="overflow-hidden bg-white shadow sm:rounded-md">
        <ul role="list" class="list-none divide-y divide-gray-200">
          <%= render partial: "employees/index", collection: @employees, as: :employee, cached: true %>
        </ul>
      </div>
    <% end %>

    <div class="flex-col items-center justify-between hidden only:flex lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Employee</p>
        <%= link_to t("shared.scaffold.new.title", model: "Employee"), new_employee_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
