<%= content_for :title, @employee.name %>
<%= turbo_stream_from @employee %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Employees", employees_path, class: "text-black" %>
      <span class="mx-2 font-light text-gray-400">\</span>
      <%= @employee.name %>
    </h1>
    <%= link_to t("edit"), edit_employee_path(@employee), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render "detailed_employee", employee: @employee %>
  </div>
</div>
