<%= form_with(model: attribute_answer) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :employee_template_id %>
    <%= form.text_field :employee_template_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :answer %>
    <%= form.text_field :answer, class: "form-control" %>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), attribute_answers_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to t("cancel"), attribute_answer_path(@attribute_answer), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
