<%= form_with(model: job) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  <div class="form-group">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :name, { prompt: true }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :date_and_time %>
    <%= form.datetime_field :date_and_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :estimated_hours %>
    <%= form.text_field :estimated_hours, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :total_hours %>
    <%= form.text_field :total_hours, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :revenue %>
    <%= form.text_field :revenue, class: "form-control" %>
  </div>

  <div data-controller="choices">
    <div data-controller="choices" data-remove-item-button="true" data-duplicate-items-allowed="false" data-no-choices-text="Start typing to search...">
      <select name="job[company_resource_ids][]" multiple size="<%= CompanyResource.count %>" >
        <%= CompanyResource.all.each do |resource| %>
          <option value="<%= resource.id %>"><%= resource.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), jobs_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to t("cancel"), job_path(@job), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
