<div id="<%= dom_id job %>">
  <div class="flex items-center justify-between p-5 space-x-5 bg-gray-100 rounded-lg shadow">
    <div class="flex items-center space-x-5">
      <div class="flex-shrink-0">
      </div>
      <div>
        <%= link_to customer_path(job.customer.id) do %>
        <h1 class="text-2xl font-bold text-gray-900 hover:text-primary-500"><%= job.customer.name_and_email_or_email %></h1>
        <% end %>
        <div>
          <div class="inline flex items-center">
            <p class="text-md font-medium text-gray-500">State: <%= job.state_display %></p>
            <% if job.complete? %>
              <i class="fa-solid fa-circle-check text-green-500 ml-2"></i>
            <% end %>
          </div>
          <p class="text-sm font-medium text-gray-500"><%= job.date_and_time.to_formatted_s(:long) %></p>
        </div>
      </div>
    </div>
    <% if current_account_user.admin? %>
      <div class="flex flex-col-reverse mt-6 space-y-4 space-y-reverse justify-stretch sm:flex-row-reverse sm:justify-end sm:space-y-0 sm:space-x-3 sm:space-x-reverse md:mt-0 md:flex-row md:space-x-3">
        <%= link_to "mailto:#{job.customer.email}", class: "inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-gray-100" do %>
          <i class="mr-3 fa-regular fa-envelope"></i>
          Email
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= render partial: "staffing_component", locals: { job: job} %>
  </div>
  <% if job&.job_template&.job_attributes&.any? %>
    <div class="min-w-full">
      <%= render "job_template_answers_table", job: job, attributes: job.attributes_and_answers %>
    </div>
  <% end %>
</div>
