<div id="<%= dom_id job %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Customer</p>
    <%= job.customer_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Date and time</p>
    <%= job.date_and_time %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Estimated hours</p>
    <%= job.estimated_hours %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Total hours</p>
    <%= job.total_hours %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Revenue</p>
    <%= job.revenue %>
  </div>
</div>
