<div id="<%= dom_id job %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Customer</p>
    <%= job.customer.name_with_email %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Employees</p>
    <% job.employees.each do |e| %>
      <%= e.first_and_last_name %>
    <% end %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Date</p>
    <%= job.date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Estimated hours</p>
    <%= job.estimated_hours %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Compeleted hours</p>
    <%= job.compeleted_hours %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Revenue</p>
    <%= job.revenue %>
  </div>
</div>
