<%= content_for :title, "Jobs ##{@job.id}" %>
<%= turbo_stream_from @job %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Jobs", jobs_path, class: "text-black" %>
      <span class="mx-2 font-light text-gray-400">\</span>
      Job #<%= @job.id %>
    </h1>
    <div class="flex">
      <div class="mr-4">
        <% if @job.draft? %>
          <%= form_for @job do |f| %>
            <%= f.hidden_field :state, value: "scheduled" %>
            <%= f.submit "Save Job to Schedule!", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <%= link_to t("edit"), edit_job_path(@job), class: "btn btn-white" %>
    </div>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @job %>
  </div>
</div>
