<%= content_for :title, "Company Resources ##{@company_resource.id}" %>
<%= turbo_stream_from @company_resource %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Company Resources", company_resources_path, class: "text-black" %>
      <span class="mx-2 font-light text-gray-400">\</span>
      Company Resource #<%= @company_resource.id %>
    </h1>
    <%= link_to t("edit"), edit_company_resource_path(@company_resource), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @company_resource %>
  </div>
</div>
