<div id="<%= dom_id customer %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= customer.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Email</p>
    <%= customer.email %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">First name</p>
    <%= customer.first_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Last name</p>
    <%= customer.last_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Phone number</p>
    <%= customer.phone_number %>
  </div>
</div>
