<div id="<%= dom_id employee_template %>">
  <div class="overflow-hidden">
    <div class="px-4 py-5 sm:px-6 m-auto w-1/4">
      <h1 class="font-medium text-gray-900 text-center"><%= employee_template.title %></h1>
      <p class="mt-4 max-w-2xl text-md text-gray-500 text-center">employees: <%= employee_template.employee_count %></p>
    </div>

    <% employee_template.employee_attributes.any? %>

    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">Attributes</h1>
        <p class="mt-2 text-sm text-gray-700">Attributes you track about employees belonging to this template.</p>
      </div>
    </div>
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="-mx-4 mt-8 overflow-hidden ring-opacity-5 sm:-mx-6 md:mx-0">
        <table class="table-auto min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
              <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Type</th>
              <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Required</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% employee_template.employee_attributes.each do |a| %>
            <tr>
              <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
                <%= a.name %>
                <dl class="font-normal lg:hidden">
                  <dt class="sr-only">Data Type</dt>
                  <dd class="mt-1 truncate text-gray-700"><%= a.data_type %></dd>
                  <dt class="sr-only sm:hidden">Required</dt>
                  <dd class="mt-1 truncate text-gray-500 sm:hidden"><% a.required %></dd>
                </dl>
              </td>
              <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= a.data_type %></td>
              <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell"><%= a.required %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
