<%= content_for :title, t("shared.scaffold.edit.title", model: "Employee Template") %>

<%= form_with model: @employee_template, data: { controller: 'employee-template-form', employee_template_form_wrapper_selector_value: '.employee-template-form-wrapper' } do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  <div class="container mx-auto px-4 my-8">
    <div class="flex items-center justify-between mb-4">
      <h1 class="h3">
        <%= link_to "Employee Templates", employee_templates_path, class: "text-black" %>
        <span class="text-gray-400 font-light mx-2">\</span>
        <%= t("shared.scaffold.edit.title", model: "Employee Template") %>
      </h1>
      <%= link_to t("delete"), @employee_template, method: :delete, class: "btn btn-white", form: { data: { turbo_confirm: t("are_you_sure") } } %>
    </div>

    <div class="p-8 bg-white rounded shadow">
      <div class="form-group">
        <%= form.label :template_title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <% @employee_template.employee_attributes.each do |attribute| %>
        <%= form.fields_for :employee_attributes, attribute do |fields| %>
          <%= render "employee_attributes/employee_attribute_edit_form", f: fields %>
        <% end %>
      <% end %>
    </div>

    <div class="mt-12 flex flex-row">
      <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary mr-2" %>
        <% if form.object.new_record? %>
        <%= link_to t("cancel"), employee_templates_path, class: "btn btn-white" %>
      <% else %>
        <%= link_to t("cancel"), employee_template_path(@employee_template), class: "btn btn-white ml-2" %>
      <% end %>
    </div>
  </div>
<% end %>
