<%= turbo_stream.update @target do %>
  <%- @employee_template.employee_attributes.each do |attribute| %>
    <%- uuid = SecureRandom.hex(8) %>

    <div class="col-span-1">
      <input type="hidden" value="<%= attribute.id %>" name="employee[attribute_answers_attributes][<%= uuid %>][employee_attribute_id]">
      <label for="employee_attribute_answers_attributes_<%= uuid %>_answer">
        <%= attribute.name %>
      </label>
      <input id="employee_attribute_answers_attributes_<%= uuid %>_answer" class="form-control" type="text" name="employee[attribute_answers_attributes][<%= uuid %>][answer]">
    </div>
  <% end %>
<% end %>
