<div class="flex flex-row space-x-12">
    <button type="button" class="bg-white rounded-md inline-flex items-center justify-center text-red-400 hover:text-red-500">
      <span class="sr-only">Close menu</span>
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  <div class="form-group">
    <%= f.label :attribute_name, class: "w-full text-sm font-medium text-gray-700" %>
    <%= f.text_field :name, autocomplete: "given-name", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :data_type, class: "w-full text-sm font-medium text-gray-700" %>
    <%= f.select :data_type, System::EMPLOYEE_ATTRIBUTE_DATA_TYPE_MAPPINGS, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>
  <div class="flex flex-row items-center">
    <fieldset>
      <div class="relative flex items-start">
        <%= f.label :required, class: "mr-8" %>
        <div class="flex h-5 items-center">
          <%= f.check_box :required, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<%= f.hidden_field :_destroy %>