<div class="employee-template-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="form-group flex flex-col ml-8 mr-10">
    <div class="space-y-6 sm:space-y-5">
      <div class="flex flex-row justify-between">
        <%= f.label :attribute_name, class: "w-full text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:col-span-2 sm:mt-0">
        <%= f.text_field :name, autocomplete: "given-name", class: "form-control w-full" %>
      </div>
    </div>
    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
      <%= f.label :type, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:col-span-2 sm:mt-0">
          <%= f.select :data_type, System::EMPLOYEE_ATTRIBUTE_DATA_TYPE_MAPPINGS, class: "form-control" %>
      </div>
    </div>
    <fieldset class="mt-4 sm:border-t">
      <%= f.label :required?, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10 flex flex-row">
        <div class="flex items-center">
          <%= f.radio_button :required, :true, class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
          <label class="ml-3 block text-sm font-medium text-gray-700">true</label>
        </div>
        <div class="flex items-center">
        <%= f.radio_button :required, :false, class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
        <label class="ml-3 block text-sm font-medium text-gray-700">false</label>
        </div>
        <div>
          <button type="button" data-action="employee-template-form#remove" class="mb-4 ml-24 bg-white rounded-md inline-flex items-center justify-center text-red-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </fieldset>
  </div>
  <%= f.hidden_field :_destroy %>
<div>
 
