<div class="employee-template-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="flex flex-row space-x-6">
    <div class="flex flex-col justify-center">
      <button type="button" data-action="employee-template-form#remove" class="bg-white rounded-lg p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
        <span class="sr-only">Close menu</span>
        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div>
      <div class="form-group">
        <%= f.label :attribute_name, class: "w-full text-sm font-medium text-gray-700" %>
        <%= f.text_field :name, id: :attribute_name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>
    <div>
      <div class="form-group">
        <%= f.label :data_type, class: "w-full text-sm font-medium text-gray-700" %>
        <%= f.select :data_type, System::EMPLOYEE_ATTRIBUTE_DATA_TYPE_MAPPINGS, {}, id: :data_type, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>
    <div class="flex flex-row items-center">
      <fieldset>
        <div class="relative flex items-start">
          <%= f.label :required, name: :required, class: "mr-8" %>
          <div class="flex h-5 items-center">
            <%= f.check_box :required, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <%= f.hidden_field :_destroy %>
<div>
