<div id="<%= dom_id resource %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= resource.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= resource.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= resource.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Count</p>
    <%= resource.count %>
  </div>
</div>
